body{
	color:brown;
	background-color:pink;
	font-family:joker;
	font-weight:30%;
	font-size:40px;
}

#special {
	color:red;
}

h1 {
	color:red;
}

img {
	height:250px;
	width:200px;
}
